div, img, p { float: left; }

div {
    width: fit-content;
    background-color: #B5C0AF;
}

img {
    width: 30dvw;
    margin: 0.5dvw;
}

p {
    width: 32dvw;
    margin: 0 auto;
    color: white;
    font-family: sans-serif;
    font-size: 1.3dvw;
}
