div {
    float: left;
    position: relative;
}

#fundo {
    background-color: darkgray;
    padding: 0.5em;
    width: 130em;
    height: 47em;
}

#imagem {
    margin: 0.3%;
    width: 20%;
}

#texto {
    color: white;
    font-family: sans-serif;
    font-size: 3em;
    line-height: 100%;
    width: 20%;
}