div { position:absolute; }

p {
    margin:0 auto;
    font-size: 23px;
    font-family: 'Arial', 'Verdana', sans-serif;
}

#principal {
    width: 70%;
    height: 400px;
    background-color: darkgray;
    clear: both;
}

#foto {
    width: 40%;
    height: 100%;
}

#foto img {
    width: 96%;
    height: 95%;
    margin: 10px;
}
