a { text-decoration: none; }
h1 { font-family: 'Bebas Neue', serif; }
img { filter: blur(0.3rem); }
form { margin: 0 auto; }
header, footer { text-align: center; }
aside#l { float: left; }
aside#r { float: right; }
#submit { background-color: #aae; }
#cartao { width: 16em; }
#cartao:enabled { outline: none !important; }
select > option { color: #aae; }
.monospace { font-family: 'Courier New', Courier, monospace; }
.watermark { opacity: 0.3; }
.sub { font-size: large; }
.tar { text-align: right; }
.tal { text-align: left; }
.tac { text-align: center; }

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: xx-large;
    background-image: url("../img/bg.avif");
    color: #fff;
}

@media screen and (max-width: 400px) {
    body { font-size: medium; }
    img { width: 100px; }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    body { font-size: large; }
    img { width: 150px; }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
    body { font-size: x-large; }
    img { width: 200px; }
}

header, footer, section {
    margin: 0 auto;
    width: fit-content;
}

footer {
    margin-top: 2em;
    font-family: 'Libre Baskerville', Times, serif;
}

th, td {
    width: 6em;
    padding-inline: 0.5em;
}

input, select {
    border: 0.1em solid #aae;
    border-radius: 2em;
    padding: 1em;
    margin-top: 0.5em;
    width: 18.2em;
    font: medium sans-serif;
    color:#fff;
    background-color: transparent;
    text-align: center;
}
