.bg {
    margin: 0 auto;
    border: 0.5vh solid #ccc;
    border-radius: 2vh;
    padding: 2vh;
}

.info {
    float: right;
    margin: 0 auto;
}

.logo {
    margin: 0 auto;
    margin-bottom: 2vh;
    border-radius: 2vh;
    background-color: #888;
    padding-inline: 3vw;
    width: 40vw;
    float: left;
    text-align: left;
}

.menu {
    border-radius: 2vw;
    background-color: #555;
    width: 99%;
    padding: 0.5%;
    clear: both;
    text-align: right;
}

a {
    color: black;
}

.menu>a {
    color: white;
    margin-bottom: 50%;
}

aside {
    background-color: #999;
    padding: 2vh;
    width: 15%;
    margin-block: 2vh;
    border-radius: 2vh;
    height: 800px;
    float: left;
}

.asideLink {
    width: 85%;
    float: left;
    clear: both;
    background-color: #ccc;
    padding-inline: 1vw;
    padding-block: 5vh;
    margin-block: 1vh;
    border-radius: 2vh;
}

body {
    font-family: sans-serif;
}

section {
    margin-inline: 2vw;
    float: left;
    width: 75%;
}

footer {
    background-color: #555;
    width: 99%;
    clear: both;
    border-radius: 2vh;
    color: white;
    padding: 0.5%;
}
